body {
    background: #ebf0f6;
    font-family: "Stylish", sans-serif;
    color: white;
    margin: 0;
    background: red;
}

.welcomebox {
    border: 3px solid white;
    background-color: orange;
    text-align: center;
}

.registerbox {
    background: yellow;
}

.error {
    font-size: 50px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.logo {
    width: 290px;
    height: 190px;
    background: brown;
    border: 5px burlywood solid;
    text-align: center;
    line-height: 190px;
    font-size: 60px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    float: left;
}
input {
    text-align: center;
}
#header {
    width: 100%;
    height: 200px;
    background: yellow;
}
#header img {
    height: 200px;
    float: right;
}
#uploader {
    transition: 1s;
    float: right;
    background: rgba(0, 0, 0, 0.2);
}
#profilebox {
    border: 2px white solid;
    height: 100%;
    text-align: center;
    background: red;
}
#profilebox img {
    width: 600px;
}
.friendsbox {
    border: 5px white solid;
}
