body {
    background: DodgerBlue;
}

.welcomebox {
    border: 3px solid white;
    background-color: aqua;
}

.registerbox {
    background: green;
}

.error {
    font-size: 50px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.logo {
    width: 200px;
    height: 200px;
    background: red;
    border: 2px black solid;
    text-align: center;
    line-height: 200px;
    vertical-align: middle;
}
