body {
  margin: 0;
  box-sizing: content-box;
  background: #fedc00;
  background-image: radial-gradient(white 20%, transparent 0),
    radial-gradient(white 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

h1 {
  font-size: 50px;
  text-decoration: underline;
}

h2 {
  margin: 10px;
  font-size: 40px;
  font-family: "Notable";
}

p {
  margin: 2px;
  font-size: 30px;
  font-weight: bold;
}

a {
  font-size: 20px;
  color: black;
}

a:visited {
  color: black;
}

.error {
  font-size: 50px;
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

input {
  text-align: center;
}

button {
  background: black;
  color: white;
  width: 200px;
  height: 100px;
  font-family: "Notable";
}

.welcomebox {
  border: 3px solid white;
  background-color: orange;
  text-align: center;
  font-family: "Notable";
}

.registerbox {
  background: yellow;
}

.registerbox input {
  height: 90px;
  font-family: "Notable";
}

header {
  position: relative;
  width: 97%;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: white;
  border: 0.5vw black solid;
  border-radius: 50px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-family: Notable;
}

header img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 120px;
  border-radius: 50px;
}

#searchbar {
  display: block;
  width: 95%;
  height: 3vh;
  background: white;
  border: 0px;
  margin: 0 auto;
}

#searchresults {
  position: absolute;
  left: 50%;
  width: 95%;
  transform: translate(-50%);
  background: white;
  text-align: center;
}

#uploader {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 200px;
  background: white;
  text-align: center;
}

#profilebox {
  height: 100%;
  text-align: center;
}

#profilebox img {
  width: 500px;
}

#updatefont {
  color: grey;
  font-size: 15px;
}

#updatebiobox {
  background: black;
  width: 405px;
  height: 455px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#updatebiobox input {
  width: 400px;
  height: 350px;
}

.friendsbox {
  border: 5px black solid;
  text-align: center;
}

#chatbox {
  display: inline-block;
  width: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  text-align: center;
}

#chatbox textarea {
  position: fixed;
  margin-top: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  text-align: center;
}

.users {
  text-align: center;
}

.users img {
  height: 300px;
}